---
import ArticleCard from "./ArticleCard.astro";
---

<div class="w-full flex flex-col gap-12">
  <h2
    class="flex justify-center md:justify-start cursor-pointer playfair-display text-2xl text-color-animate underline underline-offset-8 decoration-1 transition ease-in-out duration-300"
  >
    Read More
  </h2>
  <div class="w-full flex flex-col md:flex-row gap-20">
    <ArticleCard url="" articleName="AI FIRES" articleHeadline="Lorem ipsum" />
    <ArticleCard />
    <ArticleCard />
  </div>

  <h2
    class="flex justify-center md:justify-end cursor-pointer playfair-display text-2xl hover:text-rose-400 hover:underline underline-offset-8 decoration-1 transition ease-in-out duration-300"
  >
    Search Index
  </h2>
</div>
