---

---

<footer>
  <div class="w-full flex flex-col justify-center items-center py-8 px-4 gap-8">
    <h2
      class="cardo-regular text-xl cursor-pointer hover:text-rose-400 hover:underline underline-offset-8 decoration-1 transition ease-in-out duration-300"
    >
      Ed Sabhin Project Gallery
    </h2>
    <h2
      class="cardo-regular text-xl cursor-pointer hover:text-rose-400 hover:underline underline-offset-8 decoration-1 transition ease-in-out duration-300"
    >
      GitHub
    </h2>
    <h2
      class="cardo-regular text-xl cursor-pointer hover:text-rose-400 hover:underline underline-offset-8 decoration-1 transition ease-in-out duration-300"
    >
      CV
    </h2>
  </div>
</footer>
