@import url('https://fonts.googleapis.com/css2?family=Cardo:ital,wght@0,400;0,700;1,400&family=EB+Garamond:ital,wght@0,400..800;1,400..800&family=News+Cycle:wght@400;700&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

.cardo-regular {
  font-family: "Cardo", serif;
  font-weight: 400;
  font-style: normal;
}

.cardo-bold {
  font-family: "Cardo", serif;
  font-weight: 700;
  font-style: normal;
}

.cardo-regular-italic {
  font-family: "Cardo", serif;
  font-weight: 400;
  font-style: italic;
}



.playfair-display {
  font-family: "Playfair Display", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

@keyframes colorChange {
  0%, 100% {
    color: #272422; 
  }
  50% {
    color: #f87171; /* === text-rose-400 */
  }
}

.text-color-animate {
  animation: colorChange 4s infinite;
}

